p, body {
    margin: 0;
}

.lui-luck-draw {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.lui-luck-content {
    height: 75vw;
    width: 75vw;
    max-width: 550px;
    max-height: 550px;
}

.lui-luck-turntable, .lui-luck-pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
}

.lui-luck-name {
    font-size: 16px;
    text-align: left;
    height: 30px;
    line-height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.lui-luck-name a {
    text-decoration: none;
    color: #777;
    padding: 0 20px;
}

.lui-luck-pointer {
    width: 27vw;
    height: 27vw;
    max-width: 205px;
    max-height: 205px
}